﻿@{
    //Layout = null;
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;

}

@model Desafio_Meta3.WebUI.Models.LoginViewModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Meta3 | GM3</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>

<body class="hold-transition login-page">

    <div class="login-box">

        <div class="login-logo">
            <img src="~/Content/Img/logo_META3.png" alt="Logo" class="img-responsive" style="max-width:100px; margin-left:auto; margin-right:auto;">
        </div>

        <div id="divContainer">

            @Html.Partial("_BoxLogin", Model)

        </div>

    </div>

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/Content/plugins/iCheck/icheck.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/Controllers/Autenticacao/Autenticacao.js"></script>*@

    <script>
        
    </script>

</body>
</html>
